.search-form {
  background-color: #99c735;
  opacity: 0.9;
  color: white;
}

.input {
  background-color: white;
}
.btnn {
  border: 1px solid black;
  border-radius: 20px;
  color: white;
  background-color: black;
  opacity: 0.9;
  padding: 7px;
}
