.searchresult {
  background-color: #99c735;
}
.price span {
  display: block;
  font-size: small;
  font-weight: 800;
}
.name span {
  display: block;
  font-size: medium;
}
.duration h4 {
  border-bottom: 4px solid aqua;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .ico {
    display: none;
  }
  .name span{
    font-size:x-small;
  }
  .duration h6{
    display: none;
  }
  .name h4{
    font-size:large;
  }
  .butt{
    margin-left: 30%;
  }
  .price{
    padding-top: 2vh;
  }
}
