@media screen and (max-width: 500px) {
.time h3{
     font-size:medium;
}
}

.flightbox{
    background-color: #03395f;
    opacity: 0.9;
    color: white;
    border-radius: 30px;
    margin-top: 8vh;
    box-shadow: 1px 1px 9px black;
}