.login-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(https://img.freepik.com/free-photo/jumbo-jet-flying-sky_23-2150895687.jpg?t=st=1719819235~exp=1719822835~hmac=269ce50953ff7fc37aad9f650f9937171c973be0f3376bc558d969d99afbbfb0&w=740);
  filter: blur(30px);
  background-repeat: repeat;
  background-size: cover;
  overflow-y: visible; 
   z-index: -1; 
} 
.imgg {
  font-family: Anton;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  background-image: url(https://img.freepik.com/free-photo/low-angle-shot-airplane-flying-closer-daytime_181624-41347.jpg?w=740&t=st=1711527630~exp=1711528230~hmac=135b325d09d8e6792651f0bd3a25ae062dfe9d3c7e9177247499341c9179c2a6);
}
.main {
  box-shadow: 2px 2px 22px 8px black;
}
.page{
    font-family: Rakkas;
    background-color: white;
}
.bx{
  height: 100vh;
}

.round-loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}














