.register-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-image: url(https://img.freepik.com/free-photo/jumbo-jet-flying-sky_23-2150895687.jpg?t=st=1719819235~exp=1719822835~hmac=269ce50953ff7fc37aad9f650f9937171c973be0f3376bc558d969d99afbbfb0&w=740);
  filter: blur(30px);
  background-repeat: repeat;
  background-size: cover;
  overflow-y: visible; 
   z-index: -1; 
} 
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(https://img.freepik.com/free-photo/low-angle-shot-airplane-flying-closer-daytime_181624-41347.jpg?w=740&t=st=1711527630~exp=1711528230~hmac=135b325d09d8e6792651f0bd3a25ae062dfe9d3c7e9177247499341c9179c2a6);
}
.bg-dark{
  height: 100%;
  width: 100%;
}
.con {
  box-shadow: 1px 1px 19px 5px black;
  
}
.form-control{
    border: none;
    background: none;
    background-color: gainsboro;
}
.form-label{
    font-size:medium;
    font-weight: 650;
}
.sub {
  display: flex;
  justify-content: center;
}
.btn{
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 10px ;
}
.role{
  padding-right:10px ;
}
